.section-header{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-red); 
    margin-bottom: 20px;
    --size: 4px;
    --p: 4px;
    --R: 8px;
    -webkit-mask:
        radial-gradient(var(--R) at 50% calc(100% - (var(--size) + var(--p))),blue 99%,#0000 101%) calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
        radial-gradient(var(--R) at 50% calc(100% + var(--p)),#0000 99%,red 101%) 50% calc(100% - var(--size))/calc(4*var(--size)) 100% repeat-x;
}
.section-header h2{
    font-size: 36px;
    font-weight: bold;
    color: var(--white);
    letter-spacing: 10px;
    font-family: "ALK Rounded Mtav Med", sans-serif;
}
.section-header-main {
    max-width: 1200px;
    margin: 0 auto; 
    margin-top: 100px;
}
.our-history,
.our-goal {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -40px;
}
.our-history h3,
.our-goal h3{
    font-size:18px;
    font-weight: bolder;
    margin-bottom: 20px;
    color: #212529;
    margin-top: 10px;
}
.our-history p,
.our-goal p{
    line-height: 25px;
    font-size: 15px;
    margin-top: 6px;
    font-family: "ALK Rounded Mtav Med", sans-serif;
}
.team-info{
    padding: 0px 10px;
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: "ALK Rounded Mtav Med", sans-serif;
}
.member-box{
    width: 350px;
    text-align: center;
    border: 1px solid #ddd;
    margin: 15px 0;
    padding: 40px;
    transition: all .3s ease-in-out;
}
.member-box:hover{
    border-color: var(--light-red);
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.1);
}
.mem-photo{
    margin:auto;
    border-radius: 50%;
    width: 150px;
}
.mem-photo img{
    border-radius: 50%;
    width: 100%;
}
.member-box h4{
    font-weight: bold;
    font-size: 20px;
    margin: 5px 0px 10px 0px;
}
.member-box .role{
    font-size: 15px;
    color:rgb(106, 109, 109);
    margin: 5px 0px 30px 0px;
}
.member-box .exp{
    line-height: 1.8;
    font-size: 16px;
}
.memb-icon{
    margin-top:20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.github,
.facebook{
    width: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px 5px;
    transition: all .3s ease-in-out;
}
.github:hover,
.facebook:hover{
    background-color: var(--light-red);
}
.about {
    margin-top: 100px;
}
@media only screen and (max-width: 768px) {
    .our-history,
    .our-goal {
        display: block;
    }
    .our-goal{
        margin-top: 20px;
    }
}
@media only screen and (max-width: 1024px) {
    .about {
        margin-top: 0px;
    }
}