.course {
    background-image: url("/images/course-image.jpg");
    height: 505px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.course .title {
    padding: 100px 0px;
}
.course .title span {
    color: var(--white);
    font-family: "ALK Rounded Mtav Med", sans-serif;
}
.course-info {
    max-width: 730px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 50px;
    color: var(--white);
}
.course-info span {
    padding-top: 16px;
    font-family: "ALK Rounded Mtav Med", sans-serif;
}
.course-info img {
    padding-right: 6px;
}
